= form_for [@video, @quiz] do |f|
  
  = render 'quizzes/form_errors'

  = f.label :video_id, "Video Id" 
  = f.text_field :video_id 
  = f.label :name, "Quiz Label" 
  = f.text_field :name 
  = f.label :points, "Point Value"
  = f.text_field :points

  = f.fields_for :questions do |builder|     
    = render "quizzes/question_fields", f: builder

  = link_to_add_question_fields "add question", f, :questions
  = f.submit "Submit", class: "button small radius"




