<%= form_for [@video, @quiz] do |f| %>
   
    <% if @quiz.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>
          <ul>
            <% @quiz.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %> 

  <%= f.label :video_id, "Video Id" %>
  <%= f.text_field :video_id %>
  <%= f.label :name, "Quiz Label" %>
  <%= f.text_field :name %>


  <%= f.fields_for :questions do |questions| %>
  <div class="question-panel" %>
	  <h6>Question:</h6>
	  <%= questions.text_area :content, rows: 2, class: "remove-margin-bottom"  %>
    <%= questions.hidden_field :_destroy %>
    <%= link_to "remove", "#", class: "remove-fields" %>
  <%= link_to_add_question_fields "Add Answer", questions, :answers %>



        <div class="answer-panel" >
          <h6>answers:</h6>
          <%= questions.fields_for :answers do |answers| %>
            <div>
              <%= answers.text_field :content, class: "remove-margin-bottom" %>
              <%= answers.hidden_field :_destroy %>
              <%= link_to "remove", "#", class: "remove-fields" %>
            </div>
          <% end  %>
        </div>
</div>
  <% end %>

  <%= f.submit "Submit", class: "button small radius" %>
<% end %>



