


- @question.answers.each do |answer|
	.sub-panel.top-padding
		%li.padding-left= answer.content
	


= link_to "Next Question", quiz_path(@quiz, min_id: @question.id, course_id: @course_id)
%br
%br

- if Rails.env.development?
	= @total.inspect 
	%p total questions
	= @current_question.inspect
	%p current question
	= @number_correct.inspect
	%p number correct