%br
  .panel.radius
    %h2.quiz-heading= @quiz.name
    %br
      %ol

        - @quiz.questions.each do |question|
          .question-panel
            %h5
              %li= question.content
            %ol{:type => "a"}

              - question.answers.each do |answer|
                - if answer.correct_answer == true
                  - @answer = "green-background answer-panel"
                - else @answer = "answer-panel"
                %h5{:class => "#{@answer}"}
                  %li= answer.content
                 
  - if current_user && current_user.admin?
    = link_to "Edit Quiz", edit_quiz_path