
.large-10.medium-9.large-centered.medium-centered.columns
	%img(src="#{@profile.avatar}")
	%br
	%h5
		email:
	%h2
		= @user.email
	%br
	%h5
		name: 
		%h2
			= @profile.first_name
			= @profile.last_name 
	%br
	%h5
		location:
	%h2
		= @profile.location 
	%br

		

	= link_to "Edit", edit_profile_path(@user) 