<%= form_for [@section, @video] do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name%>
  <%= f.text_field :name %></ br>

  <%= f.label :domain %>
  <%= f.text_field :domain %></ br>

  <%= f.label :f_name %>
  <%= f.text_field :f_name %></ br>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
