<p id="notice"><%= notice %></p>

<div id="wistia_nrkoyhsiic" class="wistia_embed" style="width:640px;height:360px;"> </div>
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js"></script>
<script>
wistiaEmbed = Wistia.embed("nrkoyhsiic");
wistiaEmbed.bind("end", function () {
  $(".continue").show();
});
</script>

<div class="continue">
	<% if !@video.quiz.nil? %>
	<%= link_to "Continue", quiz_path %>
	<% else %>
	<%= link_to "Continue", video_path(@next) %>
	<% end %>
</div>

<!--  -->


<% if current_user && current_user.admin? %>
	<%= link_to "Add Quiz", new_quiz_path(@video) %>|
	<%= link_to 'Edit', edit_video_path(@video) %> |
<% end %>

<%= link_to 'Back', section_path(@video.section_id) %>
<% if Rails.env.development? %>
	<div>
		<strong>Video Name:</strong> <%= @video.name %><br>
		<strong>Domain Name:</strong> <%= @video.domain %><br>
		<strong>Video File Name:</strong> <%= @video.f_name %><br>
		<strong>The path from controller sent into video:</strong> <%= @thepath %>
	</div>
<% end %>
