<%= image_tag "large.png", class: "banner-image" %>

<h1>Classes</h1>

  

  <% @courses.each do |course| %>
    <div class="panel radius">
      
      <h3><%= link_to "#{course.name}", course_path(course), class: "class-title" %></h3>
      <p><%= course.description %></p>

      <% if current_user && current_user.admin? %>
        <%= link_to 'Show', course %>|
        <%= link_to 'Edit', edit_course_path(course) %>|
        <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end  %>

    </div>  
  <% end %>

    <br>

<% if current_user && current_user.admin? %>
  <%= link_to 'Create a New Class', new_course_path, class: "button small radius" %>
  
<% end %>