<p id="notice"><%= notice %></p>

<h2><%= @course.name %></br></h2>
<%= link_to 'New Section', new_course_section_path(@course) %>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
